
<!-- Home Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <h1 class="cc-global-title">A venir</h1>

        <div class="cc-become-inner">

            <div class="cc-card-groups">

                <div class="cc-card-custom cc-column-3 cc-mb-3rem">

                    <div class="cc-card-custom-img">

                        <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    </div>

                    <a class="cc-card-custom-body" href="#">

                        <div class="cc-card-custom-infos">

                            <h3 class="cc-card-title">Alvdan</h3>

                            <div class="cc-card-description">Film pour toute la famille</div>

                        </div>

                        <span class="cc-badge cc-bg-primary cc-color-black-default-important">10/12/2022</span>

                    </a>

                </div>

                <div class="cc-card-custom cc-column-3 cc-mb-3rem">

                    <div class="cc-card-custom-img">

                        <img src="/images/arcane.jpeg" alt="arcane picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    </div>

                    <a class="cc-card-custom-body" href="#">

                        <div class="cc-card-custom-infos">

                            <h3 class="cc-card-title">ARCANE</h3>

                            <div class="cc-card-description">Championnes de leurs villes jumelles et rivales</div>

                        </div>

                        <span class="cc-badge cc-bg-primary cc-color-black-default-important">10/12/2022</span>

                    </a>

                </div>

                <div class="cc-card-custom cc-column-3 cc-mb-3rem">

                    <div class="cc-card-custom-img">

                        <img src="/images/krypto.jpeg" alt="ima banner" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    </div>

                    <a class="cc-card-custom-body" href="#">

                        <div class="cc-card-custom-infos">

                            <h3 class="cc-card-title">KRYPTO ET LES SUPER-ANIMAUX</h3>

                            <div class="cc-card-description">krypto, le super-chien de Superman</div>

                        </div>

                        <span class="cc-badge cc-bg-primary cc-color-black-default-important">10/12/2022</span>

                    </a>

                </div>

                <div class="cc-card-custom cc-column-3 cc-mb-3rem">

                    <div class="cc-card-custom-img">

                        <img src="/images/krypto.jpeg" alt="ima banner" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    </div>

                    <a class="cc-card-custom-body" href="#">

                        <div class="cc-card-custom-infos">

                            <h3 class="cc-card-title">KRYPTO ET LES SUPER-ANIMAUX</h3>

                            <div class="cc-card-description">krypto, le super-chien de Superman</div>

                        </div>

                        <span class="cc-badge cc-bg-primary cc-color-black-default-important">10/12/2022</span>

                    </a>

                </div>

                <div class="cc-card-custom cc-column-3 cc-mb-3rem">

                    <div class="cc-card-custom-img">

                        <img src="/images/arcane.jpeg" alt="arcane picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    </div>

                    <a class="cc-card-custom-body" href="#">

                        <div class="cc-card-custom-infos">

                            <h3 class="cc-card-title">ARCANE</h3>

                            <div class="cc-card-description">Championnes de leurs villes jumelles et rivales</div>

                        </div>

                        <span class="cc-badge cc-bg-primary cc-color-black-default-important">10/12/2022</span>

                    </a>

                </div>

                <div class="cc-card-custom cc-column-3 cc-mb-3rem">

                    <div class="cc-card-custom-img">

                        <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    </div>

                    <a class="cc-card-custom-body" href="#">

                        <div class="cc-card-custom-infos">

                            <h3 class="cc-card-title">Alvdan</h3>

                            <div class="cc-card-description">Film pour toute la famille</div>

                        </div>

                        <span class="cc-badge cc-bg-primary cc-color-black-default-important">10/12/2022</span>

                    </a>

                </div>

            </div>

            <div class="cc-pagination-inner cc-row-center cc-mt-5rem">

                <ul class="cc-pagination">

                    <li class="cc-page-item cc-page-prev">

                        <a href="#" class="cc-page-link"><i class='bx bx-chevron-left' ></i></a>

                    </li>

                    <li class="cc-page-item cc-active cc-page-numb">

                        <a href="#" class="cc-page-link">1</a>

                    </li>

                    <li class="cc-page-item cc-page-numb">

                        <a href="#" class="cc-page-link">2</a>

                    </li>

                    <li class="cc-page-item cc-page-numb">

                        <a href="#" class="cc-page-link">3</a>

                    </li>

                    <li class="cc-page-item cc-page-next">

                        <a href="#" class="cc-page-link"><i class='bx bx-chevron-right' ></i></a>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>

<!-- Home Section End -->

