
<!-- Home Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <h1 class="cc-global-title">A venir</h1>

        <div class="cc-become-inner">

            <div class="cc-card-groups become-post">


            </div>

            <div class="cc-pagination-inner cc-row-center cc-mt-5rem">

                <ul class="cc-pagination">

                    <li class="cc-page-item cc-page-prev">

                        <a href="#" class="cc-page-link"><i class='bx bx-chevron-left' ></i></a>

                    </li>

                    <li class="cc-page-item cc-active cc-page-numb">

                        <a href="#" class="cc-page-link">1</a>

                    </li>

                    <li class="cc-page-item cc-page-numb">

                        <a href="#" class="cc-page-link">2</a>

                    </li>

                    <li class="cc-page-item cc-page-numb">

                        <a href="#" class="cc-page-link">3</a>

                    </li>

                    <li class="cc-page-item cc-page-next">

                        <a href="#" class="cc-page-link"><i class='bx bx-chevron-right' ></i></a>

                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>

<!-- Home Section End -->

