<%- include('header.html') %>
<!--JavaScript Begin-->

<script>
    jQuery(document).ready(function(){
        let title= localStorage.getItem("title")
        let content= localStorage.getItem("content")
        let description= localStorage.getItem("description")
        let banner = localStorage.getItem("banner")

        jQuery('.cc-global-title').html(title);
        jQuery('.cc-block-desc').html(description);
        jQuery('.cc-single-p').html(content);
        jQuery('#post-img').attr("src","https://test3.afrikastream.com/"+ banner);
    });
</script>

<!--JavaScript End-->

<!-- Home Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <h1 class="cc-global-title">Dadju son tout premier film IMA</h1>

        <div class="cc-single-head cc-display-flex">

            <div class="cc-single-head-item cc-single-head-banner-wrap">

                <div class="cc-single-head-banner">

                    <img src="/images/imageslider.png" id="post-img" alt="ima banner" class="cc-img-full cc-img-cover cc-border-radius-3_125rem">

                </div>

                <div class="cc-single-head-infos"></div>

            </div>

            <div class="cc-single-head-item cc-single-head-content">

                <div class="cc-block cc-text-center">

                    <h2 class="cc-global-title">Suivez tout vos films et série </h2>

                    <p class="cc-block-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>

                    <div class="cc-display-block">

                        <a href="#" class="cc-display-block"><img src="/images/app_store.svg" alt="app store" class=""></a>

                        <a href="#" class="cc-display-block cc-mt-1rem"><img src="/images/play_store.svg" alt="play store" class=""></a>

                    </div>

                </div>

            </div>

        </div>

        <div class="cc-single-content">

            <h3 class="cc-section-title">Synopsis</h3>

            <p class="cc-single-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>

            <div class="cc-single-share">

                <div class="cc-section-title">Partager sur </div>

                <div class="cc-social-media cc-footer-social cc-row">

                    <a href="#"><span class="bx bxs-share-alt cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-snapchat cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-twitter cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-facebook cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-instagram-alt cc-footer-span"></span></a>


                </div>

            </div>

            <div class="cc-single-actor-inner">

                <div class="cc-section-title">Acteur principale </div>

                <div class="cc-display-flex cc-align-items-start">

                    <img src="/images/dadju.jpg" alt="alvdan picture" class="cc-single-actor-img cc-img-full cc-img-cover cc-border-radius-1_25rem">

                    <div class="cc-single-actor-content cc-ml-1rem">

                        <h3 class="cc-section-title">Dadju</h3>

                        <p class="cc-single-actor-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

                    </div>

                </div>

            </div>

            <h3 class="cc-section-title">Sélectionné pour vous</h3>

            <div class="cc-card-groups cc-user-choice owl-carousel for-you"></div>

        </div>

    </div>

</section>
<%- include('footer.html') %>
<!-- Home Section End -->

