
<!-- Home Section Begin -->

<section class="cc-section cc-hero cc-films-inner">

    <div class="cc-container">

        <h1 class="cc-global-title">Films</h1>

        <div class="cc-hero-inner">

            <div class="cc-hero-item">

                <div class="cc-hero-banner">

                    <img src="/images/imageslider.png" alt="ima banner" class="cc-img-full cc-img-cover cc-border-radius-3_125rem">

                </div>

                <div class="cc-hero-content">

                    <div class="cc-hero-wrap">

                        <h2 class="cc-hero-title">Découvrez la crème du cinéma à travers nos contenus époustouflants</h2>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Home Section End -->

<!-- Films Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <div class="cc-card-groups single-films"></div>

        <div class="cc-pagination-inner cc-row-center cc-mt-5rem">

            <ul class="cc-pagination">

                <li class="cc-page-item cc-page-prev">

                    <a href="#" class="cc-page-link"><i class='bx bx-chevron-left' ></i></a>

                </li>

                <li class="cc-page-item cc-active cc-page-numb">

                    <a href="#" class="cc-page-link">1</a>

                </li>

                <li class="cc-page-item cc-page-numb">

                    <a href="#" class="cc-page-link">2</a>

                </li>

                <li class="cc-page-item cc-page-numb">

                    <a href="#" class="cc-page-link">3</a>

                </li>

                <li class="cc-page-item cc-page-next">

                    <a href="#" class="cc-page-link"><i class='bx bx-chevron-right' ></i></a>

                </li>

            </ul>

        </div>

    </div>

</section>

<!-- Films Section End -->

