<?php require_once('./header.php'); ?>

<!-- Home Section Begin -->

<section class="cc-section cc-hero cc-films-inner">

    <div class="cc-container">

        <h1 class="cc-global-title">Films</h1>

        <div class="cc-hero-inner">

            <div class="cc-hero-item">

                <div class="cc-hero-banner">

                    <img src="/images/imageslider.png" alt="ima banner" class="cc-img-full cc-img-cover cc-border-radius-3_125rem">

                </div>

                <div class="cc-hero-content">

                    <div class="cc-hero-wrap">

                        <h2 class="cc-hero-title">Découvrez la crème du cinéma à travers nos contenus époustouflants</h2>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Home Section End -->

<!-- Films Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <div class="cc-card-groups">

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

            <div class="cc-card cc-column-4 cc-mb-4rem">

                <a href="#" class="cc-card-img cc-display-block">

                    <img src="/images/alvdan.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

                </a>

                <div class="cc-card-body">

                    <a href="#" class="cc-card-title">Alvdan</a>

                    <div class="cc-card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>

                    <div class="cc-stars">

                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>

                    </div>

                </div>

            </div>

        </div>

        <div class="cc-pagination-inner cc-row-center cc-mt-5rem">

            <ul class="cc-pagination">

                <li class="cc-page-item cc-page-prev">

                    <a href="#" class="cc-page-link"><i class='bx bx-chevron-left' ></i></a>

                </li>

                <li class="cc-page-item cc-active cc-page-numb">

                    <a href="#" class="cc-page-link">1</a>

                </li>

                <li class="cc-page-item cc-page-numb">

                    <a href="#" class="cc-page-link">2</a>

                </li>

                <li class="cc-page-item cc-page-numb">

                    <a href="#" class="cc-page-link">3</a>

                </li>

                <li class="cc-page-item cc-page-next">

                    <a href="#" class="cc-page-link"><i class='bx bx-chevron-right' ></i></a>

                </li>

            </ul>

        </div>

    </div>

</section>

<!-- Films Section End -->

<?php require_once('./footer.php'); ?>
