<!--====== CorisCine Loader Begin ======-->

<div class="cc-loader">

    <div class="cc-loader-ring"></div>

</div>

<!--====== CorisCine Loader Begin ======-->

<!-- General Footer Section Start -->

<footer class="cc-general-footer">

    <div class="cc-container">

        <div class="cc-footer-container">

            <div class="me-footer-top">

                <div class="cc-brand">

                    <a href="/index" class="cc-brand-link">

                        <img src="/images/logo_white.svg" alt="CorisCine logo">

                    </a>

                </div>

            </div>

            <div class="cc-footer-middle">

                <ul class="cc-nav-menu">

                    <li class="cc-nav-item"><a href="/index" class="cc-nav-link">News</a></li>

                    <li class="cc-nav-item"><a href="/films" class="cc-nav-link">Films</a></li>

                    <li class="cc-nav-item"><a href="/series" class="cc-nav-link">Séries</a></li>

                    <li class="cc-nav-item"><a href="/become" class="cc-nav-link">A venir</a></li>

                </ul>

            </div>

            <div class="cc-footer-bottom">

                <div class="cc-footer-social cc-row-between">

                    <a href="#"><span class="bx bxs-share-alt cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-snapchat cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-twitter cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-facebook cc-footer-span"></span></a>

                    <a href="#"><span class="bx bxl-instagram-alt cc-footer-span"></span></a>


                </div>

            </div>

        </div>

    </div>

</footer>

<!-- General Footer Section End -->

<!-- JQuery CDN Link -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Owl Carousel CDN Link -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- My Own Js -->

<script src="/js/script-general.js "></script>
<script src="/js/script.js "></script>

</body>

</html>
