<%- include('header.html') %>
<!-- Home Section Begin -->

<section class="cc-section cc-hero">

    <div class="cc-container">

        <div class="cc-hero-inner cc-hero-slide owl-carousel">

            <div class="cc-hero-item">

                <div class="cc-hero-banner">

                    <img src="/images/imageslider.png" alt="ima banner" class="cc-img-full cc-img-cover cc-border-radius-3_125rem">

                </div>

                <div class="cc-hero-content">

                    <div class="cc-hero-wrap">

                        <h1 class="cc-hero-title">Dadju son tout premier film IMA</h1>

                        <div>

                            <a href="/discover" class="cc-btn cc-btn-primary">Découvrir</a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="cc-hero-item">

                <div class="cc-hero-banner">

                    <img src="/images/imageslider.png" alt="ima banner" class="cc-img-full cc-img-cover cc-border-radius-3_125rem">

                </div>

                <div class="cc-hero-content">

                    <div class="cc-hero-wrap">

                        <h1 class="cc-hero-title">Dadju son tout premier film IMA</h1>

                        <div>

                            <a href="/discover" class="cc-btn cc-btn-primary">Découvrir</a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="cc-hero-item">

                <div class="cc-hero-banner">

                    <img src="/images/imageslider.png" alt="ima banner" class="cc-img-full cc-img-cover cc-border-radius-3_125rem">

                </div>

                <div class="cc-hero-content">

                    <div class="cc-hero-wrap">

                        <h1 class="cc-hero-title">Dadju son tout premier film IMA</h1>

                        <div>

                            <a href="/discover" class="cc-btn cc-btn-primary">Découvrir</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Home Section End -->

<!-- User Selection Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <h3 class="cc-section-title">Sélectionné pour vous</h3>

        <div class="cc-card-groups cc-user-choice owl-carousel for-you">


        </div>

    </div>

</section>

<!-- User Selection Section End -->

<!-- Pub Space Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <div class="cc-pub-content">

            <img src="/images/pub.png" alt="Publicité picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-1_25rem">

        </div>

    </div>

</section>

<!-- Pub Space Section End -->

<!-- Films Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <h3 class="cc-section-title">Films</h3>

        <div class="cc-card-groups cc-user-choice owl-carousel movies">



        </div>

    </div>

</section>

<!-- Films Section End -->

<!-- Tabs Element Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <div class="cc-tabs owl-carousel">

            <a href="#" class="cc-badge cc-tab-item cc-bg-film">Film</a>

            <a href="#" class="cc-badge cc-tab-item cc-bg-serie">Série</a>

            <a href="#" class="cc-badge cc-tab-item cc-bg-actu">Actu</a>

            <a href="#" class="cc-badge cc-tab-item cc-bg-news">News</a>

            <a href="#" class="cc-badge cc-tab-item cc-bg-kids">Kids</a>

        </div>

    </div>

</section>

<!-- Tabs Element Section End -->

<!-- Newsletter Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <div class="cc-newsletter-wrap">

            <div class="cc-newsletter-wrap-img">

                <img src="/images/newsletter.jpg" alt="alvdan picture" class="cc-card-custom-self cc-img-full cc-img-cover cc-border-radius-3_125rem">

            </div>

            <div class="cc-newsletter-inner">

                <div class="cc-newsletter-content">

                    <h3 class="cc-newsletter-title">Inscrivez vous à la Newletters</h3>

                    <p class="cc-newsletter-desc">Ne ratez aucune Nouvelle sortie</p>

                    <div class="cc-row cc-justify-content-end">

                        <form class="cc-newsletter-form-wrap cc-position-relative">

                            <input type="text" class="cc-form-field">

                            <button type="submit" class="cc-btn cc-bg-black-default-important cc-color-white">S’inscrire</button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Newsletter Section End -->

<!-- Series Section Begin -->

<section class="cc-section">

    <div class="cc-container">

        <h3 class="cc-section-title">Séries</h3>

        <div class="cc-card-groups cc-user-choice owl-carousel series">


        </div>

    </div>

</section>

<%- include('footer.html') %>
<!-- Series Section End -->



