<!--<%- include('header.html') %>-->

<section class="cc-section cc-section-auth">

    <div class="cc-section-auth-item">

        <div class="cc-section-auth-inner">

            <h2 class="cc-global-title">Connectez vous</h2>

            <form class="cc-text-center">

                <div class="cc-form-group">

                    <input type="text" class="cc-form-field" placeholder="Email" id="email">

                </div>

                <div class="cc-form-group">

                    <input type="password" class="cc-form-field" placeholder="Mot de passe" id="password">

                </div>

                <a href="/index" class="cc-btn cc-btn-primary" id="login">Connectez-vous</a>

            </form>

        </div>

    </div>

    <div class="cc-section-auth-item cc-column-with-bg">

        <div class="cc-overlay"></div>

        <div class="cc-section-auth-inner cc-text-center">

            <h2 class="cc-global-title">Vous revoilà !</h2>

            <p class="cc-single-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque tincidunt nunc elit interdum sociis.</p>

            <p class="cc-auth-text">Vous ne possédez pas de compte ?</p>

            <a href="/sign-up" class="cc-btn cc-outline-primary">Inscrivez-vous</a>

        </div>

    </div>

</section>

<!--<%- include('footer.html') %>-->
