<%- include('./header.html') %>
<body><br>

<div class="container">
    <table >
            <tr>
                <td rowspan="2" class="conntainer">
                    <p><%- include '../images/Ima.png' %></p>
                </td>
                <td >
                <p><%- include '../images/Ima.png' %></p>
                </td>
            </tr>
            <tr>
                <td>
                <p><%- include '../images/Ima.png' %></p>
                </td>
            </tr>
        
        </table>
</div>

<div class="row">
    <div class="col-5">
        <p class="p_element" id="detail_film">

        </p>
    </div>

    

</div>


   
</body>