
<section class="cc-section cc-section-auth">

    <div class="cc-section-auth-item cc-column-with-bg">

        <div class="cc-overlay"></div>

        <div class="cc-section-auth-inner cc-text-center">

            <h2 class="cc-global-title">Bienvenue</h2>

            <p class="cc-single-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque tincidunt nunc elit interdum sociis.</p>

            <p class="cc-auth-text">Vous possédez déjà un compte?</p>

            <a href="/login" class="cc-btn cc-outline-primary">Connectez-vous</a>

        </div>

    </div>

    <div class="cc-section-auth-item">

        <div class="cc-section-auth-inner">

            <h2 class="cc-global-title">Création de compte</h2>

            <form class="cc-text-center">

                <div class="cc-form-group">

                    <input type="text" class="cc-form-field" placeholder="FirstName" id="firstName">

                </div>

                <div class="cc-form-group">

                    <input type="text" class="cc-form-field" placeholder="Lastname" id="lastName">

                </div>

                <div class="cc-form-group">

                    <input type="text" class="cc-form-field" placeholder="Phone Number" id="phoneNumber">

                </div>

                <div class="cc-form-group">

                    <input type="text" class="cc-form-field" placeholder="Email" id="email">

                </div>

                <div class="cc-form-group">

                    <input type="password" class="cc-form-field" placeholder="Mot de passe" id="password">

                </div>

                <a href="/index" class="cc-btn cc-btn-primary" id="register">Inscription</a>

            </form>

        </div>

    </div>

</section>

