
<%- include('./header.html') %>
<script type="text/javascript">
    jQuery(document).ready(function(){
        let title= localStorage.getItem("title")
        let content= localStorage.getItem("content")
        let description= localStorage.getItem("description")
        jQuery('.grand_titre').html(title);
        jQuery('.description').html(description);
        jQuery('.content').html(content);
    });
</script>
<body>
    <br>
<div>
    <div>
        <b class="grand_titre" style="text-align: center"></b><br><br>
        <div class="flex">
            <div class="deux_tiers">

            </div>
            <div class="tiers">
                <b class="grand_titre">Description</b><br><br>
                <p class="paragraphe description">

                </p> <br> <br>
            </div>
        </div>
    </div>  

    <div class="milieu content">

    </div>
   
</div>

</body>